@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --montserrat:"Montserrat", sans-serif;
  --green-color: rgb(0, 195, 140);
  --gray-color: rgb(25, 31, 37);
  --light-gray-color:rgb(105, 118, 113);
  --body-bg-color:#F0F4F7;
  --white-color:#ffff;
}
h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0px;
}
body {
  font-family: var(--font-family);
}

.header .navbar-expand-lg {
  padding: 15px 0px;
  /* box-shadow: rgb(217 221 226 / 20%) 0px 8px 24px; */
  background-color: var(--white-color);
}

.header nav .nav-link {
  font-family: var(--montserrat);
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  text-transform: capitalize;
  color: var(--gray-color);
  padding: 0 20px !important;

}

.header nav .nav-link:hover{
  color: var(--green-color);

}

.header nav .nav-link.active{
  color: var(--green-color);

}

/* cryption-section-css */

.cryption-section{
  background-color: var(--body-bg-color);
  padding: 130px 0px 100px;
}

.cryption-section .main-text{
    padding: 0px 0px 78px;
    text-align: center;
}
.cryption-section h4{
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: var(--gray-color);
  font-family: 'Montserrat';
}

.cryption-section h1{
  font-size: 50px;
  font-weight: 200;
  line-height: 69px;
  color: var(--gray-color);
  font-family: 'Montserrat';
}

.cryption-section .left-side p{
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  color: #697671;
  font-family: 'Montserrat';
}

.cryption-section .right-side .progressbar-text .left-side span{
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Montserrat';
  color: var(--gray-color);
}

.cryption-section .right-side .progressbar-text .right-side span{
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Montserrat';
}

.cryption-section .right-side .progress-1 .progressbar-text .right-side span{
  color: #18D685;
}

.cryption-section .right-side .progress-2 .progressbar-text .right-side span{
  color:#00BBB3;
}

.cryption-section .right-side .progress-3 .progressbar-text .right-side span{
  color: #007471;
}

.cryption-section .right-side .progress-2{
  padding: 30px 0px;
}

.cryption-section .right-side .progress, .progress-stacked {
  --bs-progress-height: 0.8rem;
  background-color: #ffff;
}
.cryption-section .right-side .progress-1 .progress, .progress-stacked {
  --bs-progress-bar-bg: #18D685;
}
.cryption-section .right-side .progress-2 .progress, .progress-stacked {
  --bs-progress-bar-bg: #00BBB3;
}
.cryption-section .right-side .progress-3 .progress, .progress-stacked {
  --bs-progress-bar-bg: #007471;
}


/* End-cryption-section-css */

/* End-Our-Tokens-css */
.Our-Tokens-section{
  padding: 130px 0px 100px;
}

.Our-Tokens-section .main-text{
  padding: 0px 0px 0px;
  text-align: center;
}
.Our-Tokens-section h4{
font-size: 30px;
font-weight: 700;
line-height: 40px;
color: var(--gray-color);
font-family: 'Montserrat';
}

.Our-Tokens-section h1{
font-size: 50px;
font-weight: 200;
line-height: 69px;
color: var(--gray-color);
font-family: 'Montserrat';
}

.Our-Tokens-section h6{
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  font-family: 'Montserrat';
  padding: 50px 0px;
}

.Our-Tokens-section .token-card-main-div{
  background-image: url("./assets/site-log.webp");
  background-size: contain;
  background-position: center;
  height: 500px;
}
.Our-Tokens-section .token-card-main-div .col-xl-6{
  margin-bottom: 100px;
}

.Our-Tokens-section .token-card-main-div .col-xl-6 .inner-row h1{
position: relative;
}
.Our-Tokens-section .token-card-main-div .col-xl-6:nth-of-type(1) .inner-row h1::before{
  content: "01";
  position: absolute;
  z-index: -1;
  font-family: 'Montserrat';
  font-size: 100px;
  font-weight: 700;
  color: #e6eeef;
}

.Our-Tokens-section .token-card-main-div .col-xl-6:nth-of-type(2) .inner-row h1::before{
  content: "03";
  position: absolute;
  z-index: -1;
  right: 0;
  font-family: 'Montserrat';
  font-size: 100px;
  font-weight: 700;
  color: #e6eeef;
}

.Our-Tokens-section .token-card-main-div .col-xl-6:nth-of-type(3) .inner-row h1::before{
  content: "02";
  position: absolute;
  z-index: -1;
  font-family: 'Montserrat';
  font-size: 100px;
  font-weight: 700;
  color: #e6eeef;
}

.Our-Tokens-section .token-card-main-div .col-xl-6:nth-of-type(4) .inner-row h1::before{
  content: "04";
  position: absolute;
  right: 0px;
  z-index: -1;
  font-family: 'Montserrat';
  font-size: 100px;
  font-weight: 700;
  color: #e6eeef;
}

.Our-Tokens-section .token-card-main-div .col-xl-6:nth-of-type(2) .inner-row{
  justify-content: end;
}

.Our-Tokens-section .token-card-main-div .col-xl-6:nth-of-type(4) .inner-row{
  justify-content: end;
}

.Our-Tokens-section .token-card-main-div .inner-row h1{
  font-family: var(--montserrat);
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color:var(--gray-color);
  margin-bottom: 20px;
}

.Our-Tokens-section .token-card-main-div .token-card-1 p{
  width: 65%;
}

.Our-Tokens-section .token-card-main-div .token-card-2{
  text-align: end;
  width: 65%;
  margin-left: auto;
}

.Our-Tokens-section .token-card-main-div .token-card-3{
width: 65%;
}

.Our-Tokens-section .token-card-main-div .token-card-4{
  text-align: end;
  width: 65%;
  margin-left: auto;
}

.Our-Tokens-section .token-card-main-div .inner-row p{
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  font-family: 'Montserrat';
  color: var(--gray-color);
}

/* End-Our-Tokens-css */

